
.button {
    -fx-text-fill: black;
    -fx-background-color: radial-gradient(radius 180%, burlywood, firebrick, white);
}

.button:hover {
    -fx-cursor: hand;
}

.menu-button {
    -fx-background-color: linear-gradient(#51177a, #f74948);
}

.menu-button:hover {
    -fx-background-color: linear-gradient(#f74948, #51177a);
    -fx-cursor: hand;
}